<form #inputForm>
    <mat-form-field>
        <mat-icon matIconPrefix matTooltip="Choose file(s)..." (click)="fileInput.click()">
            attach_file</mat-icon>
        <input matInput readonly [value]="getFilesName()" [placeholder]="placeholder">
        <mat-icon matIconSuffix color="primary" matTooltip="Upload" *ngIf="files && files.length > 0"
            (click)="onUploadFiles()">
            upload></mat-icon>
    </mat-form-field>
    <input hidden type="file" (change)="onSelectFiles($event)" #fileInput [multiple]="multipleFilesAccepted">
</form>



<div class="message" *ngIf="(isInProgress$ | async)">
    <mat-card>Uploading... {{ progress$ | async }}%</mat-card>
</div>

<div class="message" *ngIf="(isInProgress$ | async)">
    <button (click)="cancelUpload()">Cancel Upload</button>
</div>

<div class="message" *ngIf="(completed$ | async)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <div class="multi-header" [innerHTML]="result$ | async"></div>
            </mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button (click)="resetUpload()">Upload Another File</button>
        </mat-card-actions>
    </mat-card>
</div>

<div class="message error" *ngIf="(hasFailed$ | async)">
    <mat-card>Error: {{ error$ | async }}</mat-card>
</div>