<form #inputForm>
    <mat-form-field>
        <mat-icon matIconPrefix matTooltip="Choose file(s)..." (click)="fileInput.click()">
            attach_file</mat-icon>
        <input matInput readonly [value]="getFilesName()" [placeholder]="placeholder">
        <mat-icon matIconSuffix color="primary" matTooltip="Upload" *ngIf="files && files.length > 0"
            (click)="onUploadFiles()">
            upload></mat-icon>
    </mat-form-field>
    <input hidden type="file" (change)="onSelectFiles($event)" #fileInput [multiple]="multipleFilesAccepted">
</form>



<div class="message" *ngIf="(isInProgress$ | async)">
    <div style="margin-bottom: 14px;">Uploading... {{ progress$ | async }}%</div>
</div>

<div class="message" *ngIf="(isInProgress$ | async)">
    <button (click)="cancelUpload()">Cancel Upload</button>
</div>

<div class="message" *ngIf="(completed$ | async)">
    <h4>
        File has been uploaded successfully!
    </h4>
    <button (click)="resetUpload()">Upload Another File</button>
</div>

<div class="message error" *ngIf="(hasFailed$ | async)">
    Error: {{ error$ | async }}
</div>